 /* ФОН ЛОГИНА*/
.login {
    height: calc(100vh - 50px);  /*!*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)
    ),
    url("https://plus.unsplash.com/premium_photo-1676393904171-738ff11eceaa?auto=format&fit=crop&q=80&w=2072&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

.loginTitle {
    font-size: 50px;
}

 /* Формочка ЛОГИНА*/
.loginForm {
    width: 300px; /*!Длина*/
    margin-bottom: 180px;   /*  margin-top: 20px;   Поменяла на вверх */
    display: flex;  /*!*/
    flex-direction: column;
}

 .loginForm > label {
     margin: 10px 0;
 }

 .loginInput {
     padding: 10px;
     background-color: white;
     border: none;
     border-radius: 10px;
 }

 .loginInput:focus {
     outline: none;
 }

 .loginButton {
     margin-top: 20px;
     cursor: pointer;
     background-color: lightcoral;
     color: white;
     padding: 10px;
     border: none;
     border-radius: 10px;
     text-align: center;
 }

 .loginRegisterButton {
     position: absolute;
     top: 60px;
     right: 20px;
     background-color: teal;
     cursor: pointer;
     padding: 10px;
     border: none;
     color: white;
     border-radius: 10px;
 }
